<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="../assert/element.css">
    <link rel="stylesheet" href="../assert/index.css">
    <title>Document</title>
</head>

<body>
    </div>
    <div id="app">
        <div class="leftbar">
            <div class="createpcb">
                <div class="queuenumselect">
                    <label>当前就绪队列数量{{queue_num}}</label>
                    <el-input v-model="queue_num" type="range" min="1" max="5"></el-input>
                </div>
                <el-card class="box-card">
                    <div class="boxcard">
                        <div class="row">
                            <label>pid</label>
                            <el-input v-model="newprocessinfo.pid" placeholder="pid"></el-input>
                        </div>
                        <div class="row">
                            <label for="">进程名称</label>
                            <el-input v-model="newprocessinfo.name" placeholder="进程名称"></el-input>
                        </div>
                        <div class="row">
                            <label for="">运行时间</label>
                            <el-input v-model="newprocessinfo.time" placeholder="运行时间" type="number"></el-input>
                        </div>
                        <div class="row">
                            <label for="">优先级{{newprocessinfo.priority}}</label>
                            <el-input v-model="newprocessinfo.priority" type="range" min="1" :max="queue_num"></el-input>
                        </div>
                        <div class="btn">
                            <el-button type="success" round v-on:click="create_pcb">创建</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div class="maincontrol">
                <el-button type="primary" v-on:click="start">开始</el-button>
                <el-button type="warning" v-on:click="stop">暂停</el-button>
                <el-button type="danger" v-on:click="reset">重置</el-button>
            </div>
        </div>
        <div class="mainbar">
            <div class="showall">
                <div class="leftside">
                    <!-- 创建 -->
                    <div class="queue createqueue">
                        <el-card :body-style="{padding:'10px'}" :body-style="{padding:'10px'}">
                            <div class="box-card">
                                <div class="queuename">
                                    <div><b>创建队列</b></div>
                                </div>
                                <transition name="el-zoom-in-top">
                                <div class="mytable" v-if="createqueue.length">
                                    <div class="thead">
                                        <div class="theadl">
                                            <div>pid</div>
                                            <div>name</div>
                                            <div>time</div>
                                            <div>priority</div>
                                        </div>
                                        <div class="theadr">
                                            
                                        </div>
                                    </div>
                                    <div class="tbody">
                                        <div v-for="process in createqueue" :key="process.pid" class="a-process" v-show="true">
                                            <div class="info">
                                                <div>{{process.pid}}</div>
                                                <div>{{process.name}}</div>
                                                <div>{{process.time}}</div>
                                                <div>{{process.priority}}</div>
                                            </div>
                                            <div class="opera">
                                                    <div class="operabtn">
                                                        <el-button icon="el-icon-caret-right" circle size="mini"></el-button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </transition>
                            </div>
                        </el-card>
                    </div>
                    <!-- 运行 -->
                    <div class="queue runequeue">
                        <el-card :body-style="{padding:'10px'}" :body-style="{padding:'10px'}">
                            <div class="box-card">
                                <div class="queuename">
                                    <div>
                                        <b>运行队列</b>
                                    </div>
                                </div>
                                <el-collapse-transition>
                                    <div class="mytable" v-if="runqueue.length">
                                        <div class="thead">
                                            <div class="theadl">
                                                <div>pid</div>
                                                <div>name</div>
                                                <div>time</div>
                                                <div>priority</div>
                                                <div>altime</div>
                                            </div>
                                            <div class="theadr">
                        
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div v-for="(process, index) in runqueue" class="a-process">
                                                <div class="info">
                                                    <div>{{process.pid}}</div>
                                                    <div>{{process.name}}</div>
                                                    <div>{{process.time}}</div>
                                                    <div>{{process.priority}}</div>
                                                    <div>{{process.already_run_time}}</div>
                                                </div>
                                                <div class="opera">
                                                    <div class="operabtn">
                                                        <el-button icon="el-icon-caret-right" circle size="mini" v-on:click="toblock(index)"></el-button>
                                                        <el-button icon="el-icon-delete" circle size="mini" v-on:click="kill(index)"></el-button>
                                                    </div>
                                                    <el-progress :percentage="process.already_run_time*100/process.time" :show-text='false' class="prog"></el-progress>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-card>
                    </div>
                    <!-- 阻塞 -->
                    <div class="queue blockequeue">
                        <el-card :body-style="{padding:'10px'}" :body-style="{padding:'10px'}">
                            <div class="box-card">
                                <div class="queuename">
                                    <div>
                                        <b>阻塞队列</b>
                                    </div>
                                </div>
                                <el-collapse-transition>
                                    <div class="mytable" v-if="blockqueue.length">
                                        <div class="thead">
                                            <div class="theadl">
                                                <div>pid</div>
                                                <div>name</div>
                                                <div>time</div>
                                                <div>priority</div>
                                            </div>
                                            <div class="theadr">
                        
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div v-for="process in blockqueue" class="a-process">
                                                <div class="info">
                                                    <div>{{process.pid}}</div>
                                                    <div>{{process.name}}</div>
                                                    <div>{{process.time}}</div>
                                                    <div>{{process.priority}}</div>
                                                </div>
                                                <div class="opera">
                                                    <div class="operabtn">
                                                        <el-button icon="el-icon-caret-right" circle size="mini"></el-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-card>
                    </div>
                    <!-- 结束 -->
                    <div class="queue endequeue">
                        <el-card :body-style="{padding:'10px'}" :body-style="{padding:'10px'}">
                            <div class="box-card">
                                <div class="queuename">
                                    <div>
                                        <b>结束队列</b>
                                    </div>
                                </div>
                                <el-collapse-transition>
                                    <div class="mytable" v-if="endqueue.length">
                                        <div class="thead">
                                            <div class="theadl">
                                                <div>pid</div>
                                                <div>name</div>
                                                <div>time</div>
                                                <div>altime</div>
                                            </div>
                                            <div class="theadr">
                        
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div v-for="process in endqueue" class="a-process">
                                                <div class="info">
                                                    <div>{{process.pid}}</div>
                                                    <div>{{process.name}}</div>
                                                    <div>{{process.time}}</div>
                                                    <div>{{process.already_run_time}}</div>
                                                </div>
                                                <div class="opera">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-card>
                    </div>
                </div>
                <div class="rightside">
                    <!-- 就绪 -->
                        <el-card v-for="(queue, index) in readyqueues" v-show="queue.length!=0" :body-style="{padding:'10px'}" class="queue">
                            <div class="box-card">
                                <div class="queuename">
                                    <b>就绪队列(优先级{{index+1}})</b>
                                </div>
                                <el-collapse-transition>
                                    <div class="mytable" v-if="queue.length">
                                        <div class="thead">
                                            <div class="theadl">
                                                <div>pid</div>
                                                <div>name</div>
                                                <div>time</div>
                                                <div>priority</div>
                                                <div>altime</div>
                                            </div>
                                            <div class="theadr">
                                
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            <div v-for="process in queue" class="a-process">
                                                <div class="info">
                                                    <div>{{process.pid}}</div>
                                                    <div>{{process.name}}</div>
                                                    <div>{{process.time}}</div>
                                                    <div>{{process.priority}}</div>
                                                    <div>{{process.already_run_time}}</div>
                                                </div>
                                                <div class="opera">
                                                    <div class="operabtn">
                                                        <el-button icon="el-icon-caret-right" circle size="mini"></el-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-collapse-transition>
                            </div>
                        </el-card>
                </div>
            </div>
        </div>
    </div>
    <script src="../assert/vue.js"></script>
    <script src="../assert/element.js"></script>
    <script src="../assert/index.js"></script>
</body>

</html>